body	{
	background-color: #fffdd0;
	font-family: sans-serif;
	margin:20px;
}

.borderexample	{
	border-style:dashed;
	border-width:2px;
	border-color:red;
	min-height:30px;
}

.borderexample1	{
	min-height:100px;
	width:300px;
	border-width:10px;
	border-left-style:dashed;
	border-left-color:red;
	border-right-style:dotted;
	border-right-color:black;
	border-top-style:double;
	border-top-color:purple;
	border-bottom-style:groove;
	border-bottom-color:orange;
}

.borderexample2	{
	border-style:solid;
	border-color:green;
	border-width:5px;
	padding-left:10px;
	padding-right:50px;
	padding-top:20px;
	padding-bottom:100px;
}

.borderexample3	{
	border-style:solid;
	border-color:blue;
	border-width:10px;
	margin-top:20px;
	margin-right:100px;
	margin-bottom:200px;
	margin-left:50px;
}

.floatleft  {
	float:left;
}

.floatright  {
	float:right;
}

.borderexample4	{
	border: 2px solid blue;
	height:300px;
	width:500px;
}

.clear  {
	clear:left;
}

.borderexample5	{
	weight:2px;
	border-style:solid;
	border-color:purple;
	height:300px;
	width:500px;
}

.borderexample6	{
	weight:2px;
	border-style:solid;
	border-color:orange;
	height:300px;
	width:500px;
}

.borderexample7	{
	border: 2px solid green;
	height:100px;
	width:800px;
	overflow:hidden;
}
	
h1	{
	color:black;
	font-weight:bold;
	font-style:normal;
	font-size:30px;
	text-align:left;
}

h2	{
	color:black;
	font-size:24px;
	font-style:normal;
}
